.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.chapter_container {
    background-color: #eee;
    padding: 1rem;
    border-radius: 1rem;
}

.chapter_container h2 {
    font-weight: bold;
    margin-bottom: 1rem;
}

.record_container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.record {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 14rem;
    border-bottom: 1px solid lightgray;
}

.green {
    color: limegreen;
}

.red {
    color: red;
}

.buttons_container {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 1rem;
}

.order_container {
    margin-bottom: 2rem;
}

.event_container {
    margin-bottom: 0.5rem;
}

.id {
    color: gray;
}