.container {
    padding: 1rem;
}

.content_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.strategy_container {
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}