.container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: white;
    border-radius: 1rem;
    width: 15rem;
    padding: 1rem;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: space-between;
}

.flexrow {
    display: flex;
    justify-content: space-between;
}

.green {
    color: limegreen;
}

.red {
    color: red;
}

.second {
    font-size: 0.6rem;
    color: gray;
}