.button {
    border: 1px solid black;
    border-radius: 1em;
    padding: 0.3em 1em;;
    background-color: #fff9ee;
    min-width: 125px;
    color: gray;
    cursor: default;
}

@media (max-width: 768px) {
    .button {
        padding: 0.3em 1em;
        min-width: 60px;
    }
}