.button {
    border: 1px solid black;
    border-radius: 1em;
    padding: 0.3em 1em;
    background-color: #ffefd5;
    min-width: 125px;
}

.button:hover {
    background-color: #ead8b9;
}

.red {
    background-color: #ffaaaa;
}

.red:hover {
    background-color: #e89b9b;
}

@media (max-width: 768px) {
    .button {
        padding: 0.3em 1em;
        min-width: 60px;
    }
}